/* Start global variables */
:root{
    --primary-color--: #00c7fc;
    --secondary-color--: #1f2021;
}

/* End global variables */
/* Start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: var(--secondary-color--);
}
/* 
ul{
    list-style: none;
} */

.container{
    margin-left: auto;
    margin-right:auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

/* End global rules */

/* Start Header */
.header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100;
    color: white;
}
.header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    min-height: 98px;
    position: relative;
}
.header .container::after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: gray;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
}

.header .container img{
    width: 120px;
}
.header .container nav{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}
@media (max-width: 768px){
    .header .container nav ul{
        display: none;
    }
}
.header .container ul{
    display: flex;
    margin-right: 20px;
}
.header .container li{
    display: block;
    padding: 40px 10px;
    cursor: pointer;
}

.header .container ul .active,
.header .container ul li:hover{
    color: var(--primary-color--);
    position: relative;
}
.header .container ul .active::after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--primary-color--);
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    z-index: 100;
}

.header .container .search:hover{
    color: var(--primary-color--);
}
.header .container .search::before{
    content: "";
    border-left: 1px solid white;
    margin-right: 15px;
}
.header .container .search-bar{
    display: none;
    margin-right: 15px;
    margin-top: -2px;
    border: none;
    padding-left: 6px;
    height: 18px;
    outline: none;
    font-size: 12px;
}
.fa-bars{
    display: none;
    font-size: 24px;
    margin-right: 20px;
}
.fa-bars:hover{
    color: var(--primary-color--);
}
@media(max-width: 768px){
    .fa-bars{
        display: block;
    }
}

/* For responsive menu */
.header .container .drop-menu{
    background-color: var(--secondary-color--);

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 15px;
    width: calc(100% - 30px);
    margin-right: 20px;
}
.header .container .drop-menu li{
    padding-top: 20px;
    padding-bottom: 20px;
}
/* End Header */
/* Start Landing */
.landing{
    color: white;
}
.landing .images{
    position: relative;
}

.landing .images img{
    display: none;
}
.landing .images .active{
    display: block;
    width: 100%;
    background-size: cover;
    height: 100vh;
    position: absolute;
    z-index: -2;
}
.landing .images::after{
    content: "";
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
}

.landing .arrows{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.landing .arrows i{
    cursor: pointer;
}
.landing .container .text-content{
    width: 600px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 26px;
    padding-top: 26px;
    font-size: 12px;
    line-height: 2;
    max-width: 100%;
}
.landing .container .text-content::before{
    content: "";
    width: 750px;
    height: 100%;
    background-color: var(--primary-color--);
    z-index: -1;
    position: absolute;
    top: 0;
    left: -120px;
    opacity: 0.6;
}
@media (max-width: 769px){
    .landing .container .text-content::before{
        left: -15px;
        max-width: 100%;
    }
    .landing .arrows{
        display: none;
    }
    .landing .indicators{
        display: none;
    }
}
.landing .container .text-content p{
    font-size: 14px;
}
.landing .container .text-content h1{
    font-weight: 500;
    font-size: 30px;
    margin: 0;
}

.landing ul {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    bottom: 30px;
    list-style-type: none;
}
.landing ul li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
}
.landing ul .active{
    background-color: var(--primary-color--);
    border-color: var(--primary-color--);
}

/* End Landing */