/* Start global variables */
:root{
    --primary-color--: #00c7fc;
    --secondary-color--: #1f2021;
}

/* End global variables */
/* Start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: var(--secondary-color--);
}

ul{
    list-style: none;
}

.container{
    margin-left: auto;
    margin-right:auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

/* End global rules */

/* Start Header */
.header{
    background-color: var(--secondary-color--);
    color: white;
}
.header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid grey;
    font-weight: 600;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}
.header .container img{
    width: 120px;
}
.header .container .menu{
    display: flex;
    justify-content: space-between;
}
.header .container ul{
    display: flex;
    margin-right: 20px;
}
.header .container li{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.header .container ul .active{
    color: var(--primary-color--);
    position: relative;
}
.header .container ul .active::after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--primary-color--);
    bottom: 0;
    left: 0;
    margin-bottom: -24px;
}

.header .container .search::before{
    content: "";
    border-left: 1px solid white;
    margin-right: 15px;
}

/* End Header */